@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* :root {
    --primary-blue: #2563EB;
    --dark-bg: #0F172A; 
    --card-bg: rgba(30, 41, 59, 0.7); 
    --accent-blue: #38BDF8;
    --text-main: #F8FAFC;
    --text-dim: #94A3B8;
    --transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */
body {
    font-family: 'Inter', sans-serif;
    background-color: #0F172A;;
    background: radial-gradient(circle at top right, #1e293b, #0f172a);
    color: #F8FAFC;
    line-height: 1.6;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 5%;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(15, 23, 42, 0.8);
    position: sticky;
    top: 0;
    z-index: 999999;
}
nav .home-title{
    color: #38BDF8;
    font-size: 1.6rem;
    font-weight: 800;
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 2rem;
}
li{

    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #94A3B8;
    transition: all 0.5s;
}
nav ul li a:hover{
    color: #38BDF8;
}
.br i{
    font-size: 25px;
    font-weight: 800;
}
.br{
    display: none;
}
.br i:hover{
    cursor: pointer;
}
.second-section{
    background-color: #131C2E;
    padding: 120px 5%;
}
.flex{
    width:100%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.offer{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #cad5e4;
    /* color: #38BDF8; */
    font-size: 1.5rem;
    font-weight: 700;

}

.card{
    padding: 20px;
    background-color: #1B2638;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    transition: all 0.5s;
}

.image{
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}
.image img{
    width: 100%;
    height: 220px;
    transition: all 1;
    filter: brightness(0.8);

}
.text-container h2{
    color: #38BDF8;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.text-container p{
    max-width: 340px;
    float: left;
    color: white;
    font-size: 14px;
}
.card:hover{
    border: 1px solid #38BDF8;
    transform: translateY(-15px) scale(1.02);
}
.card:hover img{
    filter: brightness(1);
}
.divider-row{
    height: 2px;
    background-color: gray;
    width: 100%;
}

.footer{
    padding: 20px;
    color: #94A3B8;
    text-align: center;
}

.explore{
    padding: 20px 30px;
    border-radius: 25px;
    background-color: #2563EB;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    color:white;
    transition: all 1s;
}
.explore:hover{
    cursor: pointer;
    background-color: #38BDF8;
    box-shadow: 0 0 300px rgba(56, 189, 248, 0.6);
    transform: translateY(-10px);
}
.explore:hover{
    text-decoration: underline;
}
.text-container{
    display:flex;
    flex-direction:column;
}
a{
    text-align: center;
    text-decoration: none;
}
@media (max-width: 767px) { 
    nav ul{
        display: none;
    }
    .br{
        display: block;
    }
    .nav a{
        max-width: 100px;
    }
    .first-section h1{
        font-size: 2rem;
    }
}

